body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .pattern-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    margin-bottom: 2rem;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    width: 9rem;
    height: 9rem;
    font-size: 10rem;
  }
  .pattern-dot {
    width: 30px;
    height: 30px;
    background-color: #fada5e;
    border-radius: 50%;
    cursor: pointer;
    padding: 6px;
  }

  .confirmed {
    background-color: #28a745 !important;
  }

  .wrong {
    background-color: #dc3545 !important;
  }

  .message {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .btn{
    background: orangered;
    border: none;
    padding: 7px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 17px;
    min-width: 40px;
    margin-bottom: 10px;
    cursor: pointer;
  }
